$susy: (
  gutter-position: inside,
  container: 1140px,
  container-position: center,
  columns: 12,
  gutters: .25,
);

/* ==========================================================================
Global lay-out
========================================================================== */
.container {
  @include container;

  .main {
    @include span(8);
  }
  .sidebar {
    @include span(4);
  }
}