$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1140px,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
);